@keyframes popUpMessage {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.response {
  animation: popUpMessage 0.5s ease-in-out 1;
}
