@use "./colors";

@mixin accentBgColorOnHover {
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #073ca4;
  }
}

.navbar {
  backdrop-filter: blur(20px);
  background-color: rgb(18, 24, 37, 0.8);
  border-bottom: 1px solid #222b44;
}

@media (width <= 1024px) {
  .logo_wrapper {
    border: none !important;
  }
  .products_wrapper {
    justify-content: space-between;
  }
}

.logo_wrapper {
  margin-left: 40px;
  margin-right: 24px;
  padding-right: 24px;
  border-right: 1px solid #222b44;
}

.navlinks {
  gap: 34px;
}

.navlink {
  &:hover {
    color: #1c64f2;
  }
}

.login_button {
  font-size: 15px;
  background-color: #1c64f2;
  border-radius: 8px;
  @include colors.shadowOnTop;
  @include accentBgColorOnHover;
}

.icon {
  &:hover {
    color: colors.$accent_blue;
    .arrow_down {
      svg {
        path {
          // fill: colors.$accent_blue;
          stroke: colors.$accent_blue;
        }
      }
    }
  }
}

.lang_icon {
  &:hover {
    color: colors.$accent_blue;
    .lang_button {
      svg {
        path {
          fill: colors.$accent_blue;
        }
      }
    }
  }
}

.menu_button {
  @include colors.shadowOnTop;
  svg {
    path {
      stroke: white;
    }
  }
  @include accentBgColorOnHover;
}

@keyframes scrollPopUp {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}

.menu_button_links {
  animation-name: scrollPopUp;
  animation-iteration-count: 1;
  animation-duration: 200ms;
}
