.navbar {
  border-bottom: 1px solid #222b44;
  z-index: 50;
}

.navbar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: transparent;
  z-index: -1;
}

@media (width <= 1024px) {
  .logo_wrapper {
    border: none !important;
  }
  .products_wrapper {
    justify-content: space-between;
  }
  .navlink {
    height: auto !important;
  }
  .products_dropdown {
    background-color: #121825;
    border-radius: 0 !important;
  }
}
.logo_wrapper {
  margin: auto 24px auto 40px;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 24px;
  border-right: 1px solid #222b44;
}

.navlinks {
  gap: 34px;
}

.icon_premium_gradient {
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  border-radius: 10px;
  background: linear-gradient(90deg, #1c64f2 -0.39%, #d41cf2 99.61%);
}

.arrow_down {
  transition: transform 0.1s linear;
}

.products_wrapper:hover .arrow_down, .products_wrapper:focus-within .arrow_down {
  transform: rotate(180deg);
}
.products_wrapper:hover .products_dropdown, .products_wrapper:focus-within .products_dropdown {
  display: grid;
}

@keyframes popUp {
  0% {
    transform: translateY(-10px);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.products_dropdown {
  display: none;
  animation: popUp 0.2s ease-in-out 1;
}

.navlink {
  align-content: center;
  height: 100%;
}
.navlink:hover, .navlink:focus-within {
  color: #1c64f2;
}

.login_button {
  font-size: 15px;
  background-color: #1c64f2;
  border-radius: 8px;
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4) inset;
  transition: background-color 0.3s ease-in-out;
}
.login_button:hover {
  background-color: #073ca4;
}

.icon:hover, .icon:focus-within {
  color: #1c64f2;
}
.icon:hover .arrow_down svg path, .icon:focus-within .arrow_down svg path {
  stroke: #1c64f2;
}

.lang_icon:hover, .lang_icon:focus-within {
  color: #1c64f2;
}
.lang_icon:hover .lang_button svg path, .lang_icon:focus-within .lang_button svg path {
  fill: #1c64f2;
}
.lang_icon:hover .arrow_down svg path, .lang_icon:focus-within .arrow_down svg path {
  stroke: #1c64f2;
}

@keyframes langDropdownAnimation {
  from {
    transform: translateY(-100px) scale(0);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.lang_dropdown {
  animation: langDropdownAnimation 0.2s linear 1;
}

.lang_dropdown_link {
  color: white !important;
}
.lang_dropdown_link:hover {
  color: #4785ff !important;
}

.menu_button {
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4) inset;
  transition: background-color 0.3s ease-in-out;
}
.menu_button svg path {
  stroke: white;
}
.menu_button:hover {
  background-color: #073ca4;
}

@keyframes scrollPopUp {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}
.menu_button_links {
  z-index: -10;
  animation: scrollPopUp 0.2s ease-out;
}/*# sourceMappingURL=Navbar.module.css.map */